@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "@fontsource/lekton";

.App {
  text-align: center;
  font-family: "Montserrat" ,"lekton";
  color: white;
}

* {
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

.navbar {
  background-color: black;
}


.moving-background {
  z-index: -99;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("https://gateway.pinata.cloud/ipfs/QmToAjqo9i9GfRxjLzB4SLi9jZwPwrgXPqfKNH7mFVrDUh");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 40% 40%;
}

.page-logo {
  z-index: 99;
  width: 100px;
}